#bodyblur img {
  justify-content: center;
  opacity: 0.5;
  width: 520px;
  height: 100vh;
  padding-left: 65vh;
}
#kalimat {
  font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 700px) {
  #bodyblur img {
    opacity: 0.5;
    width: 100%;
    height: 100%;
    padding: 0;
  }
}
