#bodyblur {
  display:flex;
  position:fixed;
  justify-content:center;
}

#bodyblur img {
  opacity: 0.5;
  width: 50vh;
}
#kalimat {
  font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 700px) {
  #bodyblur img {
    opacity: 0.5;
    width: 100%;
    height: 100%;
    padding: 0;
  }
}
